img{
    padding: 2px;
    width: 200px;
    height:200px;
    border-radius:10px;
    border: 2px solid;
    display: block;
}

div{


}

.conteudo{
    
   overflow: auto;
}

.ladinho{
    display: flex;justify-self: space-between;
  }
  



    
    
