body{
    background-color:rgb(247, 191, 134)

}

img{
    padding: 2px;
    width: 200px;
    height:200px;
    border-radius:10px;
    border: 2px solid;
    display: block;
}

div{
    font-size: 20px;
    font-family: arial;
} 

.conteudo{
    
   overflow: auto;
}

h1{
    text-align: center;
    font-family: arial;
    color:brown
}

.fonte-da-obra{
    font-family: arial;
    font-size: 18px;
}

.frases{
    color: rgb(176, 75, 75);
}

p{
    display: block;
}


.ladinho{
    display: flex;justify-self: space-between;
  }
  



    
    
