img{
    border-radius: 5%;
    border: 6px solid rgb(4, 3, 3);
    padding: 0px;
    width: 350px;
    height:200px;
    text-align: center;
    display:inline;
    
}

 body{
    background-color:rgb(247, 191, 134)

 }

 div{
   font-size: 22px;
   font-family:arial;
   
 }

 h1{
   text-align: center;
   font-family: arial;
   color:brown

}

 h4{
   text-align:center;
 }

 h3{
   font-size: 20px;
   
 }

 h5{
   text-align: left;
 }

 #nomedaescola{
   text-align: end;
 }
  
p{
  font-family: arial;
  display: block;
  color: brown;
}

.frases{
  color: rgb(176, 75, 75);
}

#link{
  position: relative;
  bottom: 40px;
  font-size: 15px;
}




